# Config file for direnv tool.
# This tool setups env for you when you go to folder.
# See more info here https://direnv.net/

# Creates pip venv and automatically activates it.
export VIRTUAL_ENV={{ cookiecutter.repo_name }}_venv{{ cookiecutter.python_version }}
layout python-venv python{{ cookiecutter.python_version }}
